.header {
  display: flex;
  justify-content: center;
  padding: 0.7rem 0;
  background-color: #25355a;
  height: 4rem;

  &__buttons-wrapper {
    display: flex;
    column-gap: 2rem;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem 3rem;
    border-radius: 0.5rem;
    background-color: #7f6cbb;
    text-decoration: none;
    color: #fffff0;
    font-size: 1.4rem;
    font-weight: 500;
    font-family: "Teko", sans-serif;
    transition: 0.2s;
    border: 0.2rem solid transparent;

    &:hover {
      background-color: #4c2db3;
    }

    &:active {
      background-color: #3b1ba5;
      border: 2px solid #fff;
    }
  }

  &__button.active {
    background-color: #3b1ba5;
    border: 2px solid #fff;
  }
}
