.garage {
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0f6868;
    padding: 15px 120px;
  }
  &__cars-number,
  &__current-page {
    font-size: 25px;
    color: #fff;
    padding: 10px;
  }
  &__buttons-wrapper {
    display: flex;
    column-gap: 15px;
  }
  &__button {
    font-size: 20px;
    padding: 4px 25px;
    border-radius: 6px;
    background-color: #fff;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      background-color: turquoise;
    }
    &:active {
      background-color: rgb(25, 151, 139);
    }
  }
  &__inner {
    padding: 2em 120px;
    background-color: #96b1f0;
  }
  &__car {
    .car {
      &__image {
        width: 90px;
      }
    }
  }
  &__pages {
    padding: 15px 120px;
    background-color: darkslategray;
    display: flex;
    column-gap: 15px;
    .arrow {
      cursor: pointer;
      background-color: #fff;
      padding: 4px 10px;
      border-radius: 5px;
      border: 2px solid transparent;
      transition: 0.2s;
      &:hover {
        border: 2px solid #333;
      }
      &:active {
        background-color: rgb(224, 224, 224);
      }
    }
    .arrow[disabled] {
      &:hover {
        border: 2px solid transparent;
      }
    }
  }
  .generate-car {
    &__wrapper {
      display: flex;
    }
    &__button {
      cursor: pointer;
      padding: 4px 8px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      &:active {
        transform: scale(0.97);
      }
      &:last-child {
        margin-left: 20px;
        border-radius: 4px;
      }
    }
    &__button,
    &__input {
      height: 2em;
      border: 2px solid transparent;
      transition: 0.2s;
      &:hover {
        border: 2px solid #96b1f0;
      }
    }
    &__input {
      padding: 0 5px;
      &_color {
        border-right: 2px solid #96b1f0;
        border-left: 2px solid #96b1f0;
      }
      &_name {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
    }
  }
}
