.garage {
  display: grid;
  grid-template-rows: 6rem auto 5rem;
  height: calc(100% - 4rem);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f6868;
    padding: 2rem 10rem;
  }

  &__cars-number,
  &__current-page {
    font-size: 1.3rem;
    color: #fff;
  }

  &__buttons-wrapper {
    display: flex;
    column-gap: 1.2rem;
    margin-bottom: 1rem;
  }

  &__button {
    font-size: 1.5rem;
    padding: 0.4rem 2rem;
    border-radius: 6px;
    background-color: #fff;
    transition: 0.2s;

    &:hover:not([disabled=disabled]) {
      background-color: turquoise;
      cursor: pointer;
    }

    &:active {
      background-color: rgb(25, 151, 139);
      cursor: pointer;
    }
  }

  &__inner {
    padding: 1em 10rem;
    background-color: #96b1f0;
  }

  &__car {
    .car {
      &__image {
        width: 5rem;
      }
    }
  }

  &__pages {
    padding: 1.2rem 10rem;
    background-color: darkslategray;
    display: flex;
    column-gap: 1.2rem;

    .arrow {
      cursor: pointer;
      background-color: #fff;
      padding: 0.4rem 1rem;
      border-radius: 0.5rem;
      border: 2px solid transparent;
      transition: 0.2s;

      &:hover {
        border: 0.2rem solid #333;
      }

      &:active {
        background-color: rgb(224, 224, 224);
      }
    }

    .arrow[disabled] {
      &:hover {
        border: 2px solid transparent;
      }
    }
  }

  .generate-car {
    &__wrapper {
      display: flex;
      margin-bottom: 1rem;
    }

    &__button {
      cursor: pointer;
      padding: 4px 8px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;

      &:active {
        transform: scale(0.97);
      }

      &:last-child {
        margin-left: 20px;
        border-radius: 4px;
      }
    }

    &__button,
    &__input {
      height: 2em;
      border: 2px solid transparent;
      transition: 0.2s;

      &:hover {
        border: 2px solid #96b1f0;
      }
    }

    &__input {
      padding: 0 5px;

      &_color {
        border-right: 2px solid #96b1f0;
        border-left: 2px solid #96b1f0;
      }

      &_name {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
    }
  }
}

@media (max-width: 790px) {
  .garage {
    grid-template-rows: auto;
    height: auto;

    &__inner {
      padding-right: 30px;
    }

    &__header {
      padding: 0;
      flex-direction: column;
    }
  }
}
