.garage {
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0f6868;
    padding: 15px 120px;
  }
  &__cars-number {
    font-size: 25px;
    color: #fff;
    padding-top: 20px;
  }
  &__buttons-wrapper {
    display: flex;
    column-gap: 15px;
  }
  &__button {
    font-size: 20px;
    padding: 4px 25px;
    border-radius: 6px;
    background-color: #fff;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      background-color: turquoise;
    }
    &:active {
      background-color: rgb(25, 151, 139);
    }
  }
  &__inner {
    padding: 2em 120px;
    background-color: #96b1f0;
  }
  &__car {
    .car {
      &__image {
        width: 90px;
      }
    }
  }
  &__pages {
    padding: 15px 120px;
    background-color: darkslategray;
    display: flex;
    column-gap: 15px;
    .arrow {
      cursor: pointer;
      background-color: #fff;
      padding: 4px 10px;
      border-radius: 5px;
      border: 2px solid transparent;
      transition: 0.2s;
      &:hover {
        border: 2px solid #333;
      }
      &:active {
        background-color: rgb(224, 224, 224);
      }
    }
    .arrow[disabled] {
      &:hover {
        border: 2px solid transparent;
      }
    }
  }
}
