.car {
  border-bottom: 2px solid #000;
  &__img-wrapper {
    position: relative;
    display: inline-block;
  }
  &__content {
    display: flex;
    align-items: center;
    position: relative;
  }
  &__info {
    margin-right: 12px;
    font-size: 16px;
    font-weight: 400;
  }
  &__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    position: absolute;
    left: -7em;
  }
  &__update-params-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    left: 100%;
    top: -2em;
  }
  .button {
    padding: 0 10px;
    border-radius: 6px;
    transition: 0.2s;
    background-color: #fff;
    cursor: pointer;
    &:hover {
      background-color: rgb(172, 165, 165);
    }
    &:active {
      background-color: rgb(214, 214, 214);
    }
  }
  &__edit_confirm {
    border-radius: 0 !important;
    border-bottom-right-radius: 6px !important;
    border-top-right-radius: 6px !important;
  }
}
